// ===============
// colors palette
// ===============
:root {
  // Site colors (Кольори сайту):
  // =================================================================
  --accent: #3ddabe;
  --accent_04: #3ddabd66;
  --accent_hover: #34b79f;

  // Background colors (Фонові кольори):
  // =================================================================
  --bg-secondary: #e5e5e5; // BG secondary background color - (Додатковий фоновий колір сайту)
  --bg-accent: #213c37; // BG accent - наприклад, може бути використаний для встановлення кольору фону для акцентних елементів, таких як кнопки або іконки.
  --bg-contact: #f2f2f2;
  // Text colors (Текстові кольори):
  // =================================================================
  --text-secondary: #828282; // Text secondary text color - (Додатковий текстовий колір сайту)
  --text-accent: #4f4f4f; // Text accent - наприклад, може використовуватися для встановлення кольору тексту для акцентних елементів на сторінці, таких як заголовки або кнопки.
  --text-inverse: #fff; // Text inverse - наприклад, може використовуватися для налаштування кольору тексту на темному фоні.
  // =================================================================
}
