.about {
  &__wrapper {
    display: flex;
    @include adaptiveValue('gap', 50, 20);
    margin-top: rem(64);
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    gap: rem(25);
  }

  &__btn {
    @media (max-width: $mobile) {
      margin: 0 auto;
    }
  }
  &__img {
    flex: 1;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
